name: CI workflow
    on:
      push:
        branches: [ "main" ]
      pull_request:
        branches: [ "main" ]
    jobs:
      build:
        runs-on: ubuntu-latest
        container: python:3.9-slim
          Steps: 
            name: ChechOut
            uses: actions/checkout@v3
